@import '../../assets/styles/colors.scss';

.main-header{
    background-color: #eee;
    // box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: .5rem 0;
    &__inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo{
        display: flex;
        img{
            &:first-child{
                width: 80px;
                margin-inline-end: 1rem;
            }
        }
    }
    &__actions{
        .btn{
            font-weight: bold;
        }
    }
}