// $primary: #626ed4;
// $secondary: #303049;
// $white: #fff;
// $body-bg: #f5f5f5;
// $body-color: #242934;
@import "assets/styles/colors.scss";
@import "~bootstrap/scss/bootstrap";

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.btn {
  border-radius: 30px;
  min-width: 130px;
}
